body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
    width: 80%;
}
p{
    text-align: justify;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.shadow{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
#exp-1{
    border-left: 10px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#exp-2{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: grey;
}